body, html{
    margin: 0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
}

body {
    background:url(./imagenes/imagentop.jpeg) repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 24px;
    color:#fff;
}

header{
    margin-top: 0.8em;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

header>img{
    width: 6em;
    height: 6em;
    border-radius: 100px;
    border: 3px solid white;
    box-shadow: white 0px 2px 10px 0px;
}

header > h1{
    display: inline-block;
    font-size: 14px;
    border-radius: 1em;
    background-color: hwb(196 10% 84% / 0.986);
    padding: 4px 6px;
    border: 2px solid #bbb;
}

header > hr.rounded{
    display: inline-block;
    border-top: 3px solid white;
    border-radius: 5px;
    width: 270px;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;

}

ul>li{
    background-color: #fffa;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    padding: 5px;
    margin: 10px;
    
}

ul>li>a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px
}

a{
    color:black;
    text-decoration: none;
}